<h1>Authors</h1>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Date of Birth</td>
        </tr>
    <thead>
    <tbody>
    <% @authors.each_with_index do |author, index| %>
        <tr>
            <td><%= author["name"] %></td>
            <td><%= author["date_of_birth"] %></td>
            <td><%= link_to('Show', author_path(index)) %></td>
            <td><%= link_to('Edit', edit_author_path(index)) %></td>
            <td><%= link_to('Destroy', author_path(index), method: :delete, data: { confirm: 'Are you sure?' }) %></td>
        </tr> 
    <% end %>
    <tbody>
</table>

<div>
    <%= link_to("Add New Author", new_author_path) %>
</div>